{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="col-md-8 m-auto">
    <div class="content-section">
        <h1>Welcome to MiFriendsAI</h1>
        <br>
        <p>
            <h2>Your Ultimate Virtual Companionship Experience</h2>
            Discover a World of Virtual Companionship Unleash the power of AI with MiFriendsAI. Engage in lifelike conversations with AI characters or design your unique virtual companion to share meaningful dialogues on any topic you desire.
            <br>
            <h2>Experience Unmatched Interactions</h2>
            Say goodbye to traditional relationship barriers. With MiFriendsAI, enjoy responsive and dynamic interactions that provide epic companionship and deep understanding.
            <h2>Tailored Just For You</h2>
            Every conversation with your AI companion is meticulously crafted to suit your preferences, hobbies, and interests. Enjoy a relationship that evolves and adapts exclusively to you.</p>
    </div>
</div>


{% endblock %}